.todo-item-container {
  height: 40px;
  width: 100%;
  padding: 7px 15px;
  margin-bottom: 10px;
  border: 1px solid #e0dddd;
  border-radius: 4px;
  color: #2d2a2a;
  font-weight: bold;
  background: white;
  white-space: nowrap;
  word-wrap: normal;
}

.todo-item-container input[type="checkbox"] {
  appearance: none;
  width: 25px;
  height: 100%;
  margin-right: 10px;
  outline: none;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.todo-item-container input[type="checkbox"]::after {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 2px solid #2d2a2a;
  border-radius: 3px;
  content: '';
}

.todo-item-container input[type="checkbox"]:checked::after{
  content: '\2713';
}

.todo-item-container label {
  display: inline-block;
  max-width: calc(100% - 30px);
  height: 100%;
  line-height: 25px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
}

.todo-item-container.completed,
.todo-item-container.completed::selection {
  color: #878282;
  -webkit-text-fill-color: #878282;
}

.todo-item-container.completed input[type="checkbox"]::after {
  border-color: #878282;
}

.todo-item-container.completed label {
  text-decoration: line-through;
}
